.comments__form{
    img{
height:50px;
width:50px;
object-fit:contain;
    }
    input{
        background: transparent;
        border:none;
        border-bottom: 2px solid #353946;
        color:#fff;
        &:focus{
            outline:none;
        }
    }
    button{
        background-color: #353946;
        color: #fff;
        letter-spacing: 0.5px;
        &:focus{
            outline:none;
            border:none;
        }
    }
}